* {
    box-sizing: border-box;
  }
  
h3, h2 {
  margin: 0;
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
}
   :root {
    --radius-default: 6px;

    --clr-important: #E0F4FF;
    --clr-on-important: black;

     --clr-primary: #FAFAFA;
     --clr-on-primary: black;

     --clr-compl: white;
     --clr-on-compl: black;

     --clr-confirmar: #01AC12; 
     --clr-on-confirmar: white;

     --clr-neutra: #C68200;
     --clr-on-neutra: white;

     --clr-perigo: #C63B00;
     --clr-on-perigo: white;
   }

   html {
     font-family: "Roboto", "Outfit", 'Inter', sans-serif;

   } 

   html, body {
    background: var(--clr-compl);
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--clr-on-primary);
   }

   body {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   main {
    display: flex;
    max-width: 1440px;
    width: 100%;
   }

   p {
     margin: 0;
   }

   button {
     cursor: pointer;
     padding: 10px;
     background-color: var(--clr-compl);
     color: var(--clr-on-compl);
     border-radius: 5px;
     border: 0;
     margin: 0;
     transition: 75ms background-color;
   }

   button:hover {
     background-color:rgb(240,240,240);

   }

   .frame-imagem {
     min-width:275px;
     width:275px;
     height: 275px;
     aspect-ratio:1;


     background-color: var(--clr-compl);
     color: var(--clr-on-compl);

     border-radius: 10px;
   }

   .imagem-eu {
     width:100%;
     height:100%;
   }

   .nome {
     font-size: 28px;
     font-family: "Outfit", "Roboto", "sans-serif";
   }

   .profissao {
     font-size: 20px;
   }

   .resumo-holder {
     background-color: var(--clr-compl);
     color: var(--clr-on-compl);

     padding: 20px;
     border-radius: 10px;
   }

   .resumo {
     font-size: 20px;
   }

   .imagem-eu {
     border-radius: 10px;
   }

   .metadata-holder {
    display: flex;
    flex-direction: column;
    gap:5px;
   }

   .botao-holder {
     display:flex;
     flex-direction: column;
     width: 100%;
     gap:10px;
   }

   .botao-header {
     display:flex;
     width: 100%;
     gap:10px;
     align-items:center;
     border: none;
     outline: none;
     padding: 12px;

     font-size: 16px;
     background-color: var(--clr-important);
     color: var(--clr-on-important);
     border-radius: 5px;
   }
   .botao-header.verde {
    background-color: #E5FFE0;
   }
   .botao-header.vermelho {
    background-color: #FFE2E0;
   }
   .botao-header.marrom {
    background-color: #FFF8E0;
   }

   .icone-botao {
     width:20px;
     height:20px;
   }

   .secao-principal {
    height: fit-content;
     display:flex;
     flex-direction: column;
     max-width: fit-content;
     gap: 20px;
     /* margin:100px; */
     /* background-color: var(--clr-compl); */
     /* box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15); */
     padding: 20px;
     margin:40px 0 40px 40px;
     border-radius: var(--radius-default);
   }

   .sidebar-holder {
     display:flex;
     flex-direction: column;
     gap:20px;
   }

   .linguagem-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

   .titulo-secao {
     font-size: 28px;
     font-weight: bold;
     font-family: "Outfit", "Roboto", "sans-serif";
   }

   .projeto-holder {
     display:flex;
     flex-direction: column;
     gap:20px;
     overflow-x: scroll;
     padding-left: 40px;
     padding-right: 40px;
     padding-top:40px;
     padding-bottom: 40px;
   }

   .projeto-holder-holder {
     position: relative;
     width:100%;
     height:fit-content;
   }

   .botao-navegar-direita, .botao-navegar-esquerda {
     position: absolute;
     padding:10px;
     background-color: white;
     color: black;
     z-index: 20;
   }

   .botao-navegar-esquerda {
     left: 0;
     bottom: 0;
     top: 0;
   }

   .botao-navegar-direita {
     right: 0;
     bottom: 0;
     top: 0;
   }

   .projeto {
     position: relative;
     width: 100%;
     height: 650px;

     background-color: var(--clr-compl);
     border-radius: 10px;
     box-shadow: 0px 0px 30px 1px rgba(255,255,255,0.15);
   }

   .img-projeto {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: contain;
     background-color:var(--clr-compl);
     
     border-radius: 10px;
   }
   
   .img-card-tec {
     width: 20px;
     height: 20px;
   }

   .overlay-projeto {
     display:flex;
     flex-direction: column;

     justify-content: space-between;

     position:relative;
     z-index: 10;
     background-color: rgba(0,0,0,0.5);
     background: linear-gradient(to top right, rgba(0,0,0,0.9), rgba(0,0,0,0.3));
     width: 100%;
     height:100%;

     padding:20px;
     border-radius: 10px;
     transition: 75ms background-color;
     /* cursor: pointer; */
   }

   /* .overlay-projeto:hover {
     background-color: rgba(0,0,0,0.3);
   } */

   .footer-projeto, .header-projeto {
     display:flex;
     justify-content: space-between;
     color:var(--clr-compl);
   }

   .card-status {
     display: flex;
     padding: 10px;
     border-radius: 5px;
   }

   .progresso {
     background-color: var(--clr-neutra);
     color: var(--clr-on-neutra);
   } 

   .completo {
     background-color: var(--clr-confirmar);
     color: var(--clr-on-confirmar);
   }

   .incompleto {
     background-color: var(--clr-perigo);
     color: var(--clr-on-perigo);
   }

   .metadata-projeto {
     display:flex;
     flex-direction: column;
     justify-content: end;
   }

   .titulo-projeto {
     font-size:32px;
   }

   .descricao-projeto {
     font-size: 20px;
   }
   
   .tecnologias-projeto {
     display:flex;
     flex-direction: column;
     gap: 10px;
   } 

   .tecnologias-front, .tecnologias-back {
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: end;
   }

   .card-tec {
     display:flex;
     padding:10px;
     background-color: var(--clr-compl);
     color: var(--clr-on-compl);
     gap: 5px;

     border-radius: 5px;
   }

   .titulo-secao {
     padding-left: 40px;
     padding-top: 60px;
     /* padding-bottom: 40px; */
   }

   .botao-opt {
     display:none;
   }
   .visivel {
     display:initial;
   }

   .secao-projetos {
    height: 100%;
    overflow-y: scroll;

   }

   @keyframes goto-top {
    0%, 70% {
        transform: translateY(0%);

    }
    100% {
        transform: translateY(100%);
        
    }
   }

   .bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: white;
    z-index: 100;
    animation-name: goto-top;
    animation-duration: 0s; /* 3s */
    animation-fill-mode: forwards;
    font-size: 36px;
   }

   .bem-vindo-ola {
    font-size: 72px;
   }

   .bem-vindo-portifolio {
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 500;
   }

   .bem-vindo-carregando {
    position: fixed;
    bottom: 20px;  
    text-transform: capitalize;
    font-size: 20px;
   }

   @media (max-width: 1200px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .secao-projetos {
        height: 100%;
    }
     .secao-principal {
        min-width: 100%;
       flex-direction: column;
       margin-left: 0;
       margin-top: 0;
       flex-direction: row;
       justify-content: space-evenly;

     }
   }

   @media (max-width:900px) {
     .footer-projeto {
       flex-direction:column;
       gap: 10px;
     }
     .tecnologias-front, .tecnologias-back {
       justify-content:start;
     }
   }

   @media (max-width:700px) {
     .secao-principal {
       padding:10px;
       gap:10px;
       flex-direction: column;
     }
     .titulo-secao {
       padding-left: 10px;
       padding-right:10px;
     }
     .projeto-holder {
       padding:10px;
       gap:10px;
     }
     .frame-imagem {
        align-self: center;
        width: 300px;
        height: 300px;
     }
   }

   @media (max-width:500px) {
     /* .frame-imagem, .imagem-eu {
       width: 100%;
       height:auto;
       aspect-ratio: 1;
       min-width: 0;
     } */
     .botao-holder {
       flex-wrap: wrap;
       justify-content:center;
     }
   }